<ion-view view-title="Welcome, @vichudo">
  <ion-content >



<div style="
    text-align: center;
    margin-top: 50px;
    font-family: LatoL !important;
    letter-spacing: 1px !important;
">
    
        <p style="
    font-size: 35px;margin-bottom: 15px;line-height: 30px;
">History</p>


<button class="bntH"><span class="sp1">deal with </span> <span class="sp2">@casechile</span></button>

<button class="bntH"><span class="sp1">deal with </span> <span class="sp2">@casechile</span></button>

<button class="bntH"><span class="sp1">deal with </span> <span class="sp2">@casechile</span></button>

<button class="bntH"><span class="sp1">deal with </span> <span class="sp2">@casechile</span></button>

<button class="bntH"><span class="sp1">deal with </span> <span class="sp2">@casechile</span></button>






  </ion-content>
</ion-view>
