<ion-view view-title="Welcome, @{{userData.username}}">
  <ion-content >



<div style="
    text-align: center;
    margin-top: 50px;
    font-family: LatoL !important;
    letter-spacing: 1px !important;
">
    
        <p style="
    font-size: 35px;margin-bottom: 15px;line-height: 30px;
">History</p>


<button class="bntH" ng-repeat='r in resultados' ><span class="sp1">deal with </span> <span class="sp2">@{{r.idInfluencer == userData.instagramId ? r.usernameStore : r.idStore == userData.instagramId ? r.usernameInfluencer : " "}}</span></button>







  </ion-content>
</ion-view>
