<ion-view hide-nav-bar="true">
    <script id="nuevoUsuario.html" type="text/ng-template">
        <ion-modal-view class="ion-nifty-modal2">
        <div  class="ion-modal-content-custom2">


        <ion-content class="padding " style="background-color: gray; color:white;font-family:backIssuesItal !important" >

        </ion-content>
        </div>
        </ion-modal-view>
    </script>

<style type="text/css">
  
.ttss ::-webkit-input-placeholder { /* Chrome */
  color: white !important;
}
.ttss :-ms-input-placeholder { /* IE 10+ */
  color: white !important;
}
.ttss ::-moz-placeholder { /* Firefox 19+ */
  color: white !important;
  opacity: 1 !important;
}
.ttss :-moz-placeholder { /* Firefox 4 - 18 */
  color: white !important;
  opacity: 1 !important;
}

</style>

<ion-content class='ttss' style="      -webkit-filter:contrast(120%);
    filter: contrast(120%);  background-size: cover;background-image:url('img/fondoLogin.png')" >

<!-- <img src="img/logoLogin.png" style="    width: 80%;
    margin-left: 10%;
    margin-top: 18%;
    z-index: 44;
    position: absolute;">
<img src="img/cc3.png" style="    height: 80px;
    width: 100%;
    left: 0px;
    position: absolute;
    margin-top: calc(18% - 15px);
    z-index: 30;
    opacity: 0.8;"> -->

<p style="text-align: center;
    color: white;
    font-family: LatoL;
    letter-spacing: 2px;
    font-size: 21px;
    margin-top: 20px;">Completa tu perfil</p>

<div style="
    margin-top: 80px;

    width: 100%;
    text-align: center;
    font-family: LatoL;
    font-size: 30px;
    letter-spacing: 2px;
    color: white;
">
    <p style="    line-height: 40px;">choose your type of profile</p>

        <select style="    height: 48px;
    width: 156px;
    background: transparent;
    border: solid 3px white;
    color: white;
    margin-top: 25px;padding-left: 10px;
    font-size: 24px;" ng-model='cuenta.tipo' >
      <option selected value="1">influencer</option>
      <option value="2" >seller</option>

    </select>




</div>




    </ion-content>

<button class="btnfoot" ng-click='goLogin()' >back</button>
<button class="btnfoot" style="right: 0;" ng-click='goRegister(cuenta.tipo)'>next</button>
    </ion-view >