<ion-view hide-nav-bar="true">
    <script id="nuevoUsuario.html" type="text/ng-template">
        <ion-modal-view class="ion-nifty-modal2">
        <div  class="ion-modal-content-custom2">


        <ion-content class="padding " style="background-color: gray; color:white;font-family:backIssuesItal !important" >

        </ion-content>
        </div>
        </ion-modal-view>
    </script>

<style type="text/css">
  
.ttss ::-webkit-input-placeholder { /* Chrome */
  color: white !important;
}
.ttss :-ms-input-placeholder { /* IE 10+ */
  color: white !important;
}
.ttss ::-moz-placeholder { /* Firefox 19+ */
  color: white !important;
  opacity: 1 !important;
}
.ttss :-moz-placeholder { /* Firefox 4 - 18 */
  color: white !important;
  opacity: 1 !important;
}

</style>

<i ui-sref='login'   style="    top: 5px;
    left: 5px;
    position: absolute;
    color: white;
    z-index: 2;
    font-size: 38px;
    height: 40px;
    width: 43px;" class="icon ion-ios-arrow-back"></i>


<ion-content class='ttss' style="      -webkit-filter:contrast(120%);
    filter: contrast(120%);  background-size: cover;background-image:url('img/fondoLogin.png')" >

<img src="img/logoLogin.png" style="    width: 80%;
    margin-left: 10%;
    margin-top: 18%;
    z-index: 44;
    position: absolute;">
<img src="img/cc3.png" style="    height: 80px;
    width: 100%;
    left: 0px;
    position: absolute;
    margin-top: calc(18% - 15px);
    z-index: 30;
    opacity: 0.8;">




<div style="
    margin-top: calc(18% + 130px);
    position: absolute;
    width: 100%;
    text-align: center;
    font-family: LatoL;
    font-size: 30px;
    letter-spacing: 2px;
    color: white;
">

<p style="margin-bottom: 18px;">username</p>
<div><span style="
    position: absolute;
    left: calc(23% - 35px);
    top: 43px;
">@</span><input type="text" style="    margin: 0px !important;
    display: inline-block;
    background: transparent;
    border: solid white 2px;
    height: 41px;
    width: 55%;
    font-family: Lato2;
    padding-left: 12px;
    font-size: 24px;
    padding-bottom: 5px;
    color: white;" placeholder="username"></div>



<p style="margin-bottom: 18px;    margin-top: 45px;">password</p>
<div><input type="text" style="    margin: 0px !important;
    display: inline-block;
    background: transparent;
    border: solid white 2px;
    height: 41px;
    width: 55%;
    font-family: Lato2;
    padding-left: 12px;
    font-size: 24px;
    padding-bottom: 5px;
    color: white;" placeholder="password"></div>


<p style="    font-size: 17px;
    text-decoration: underline; margin-top:15px;  text-underline-position: under;">forgot your password?</p>


<button style="    background-color: #5666b8;
    padding: 7px 57px;
    color: white;
    font-family: Lato2;
    border: none !important;
    border-radius: 2px;
    margin-top: 30px;
    font-size: 25px;">login</button>
</div>





</div>


    </ion-content>

    </ion-view >