<ion-view view-title="Welcome, @vichudo">
  <ion-content >



<div style="
    text-align: center;
    margin-top: 50px;
    font-family: LatoL !important;
    letter-spacing: 1px !important;
">
    
        <p style="
    font-size: 35px;margin-bottom: 15px;line-height: 30px;
">Notifications</p>


<ul class="list" style="margin-top:45px">

  <li class="item item-toggle ssdd">
     Enable notifications
     <label class="toggle toggle-balanced">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>


  <li class="item item-toggle ssdd" >
     Send notifications of new stories
     <label class="toggle toggle-balanced">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
  <li class="item item-toggle ssdd" >
     Send notifications of top users
     <label class="toggle toggle-balanced">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>



</ul>



</div>

  </ion-content>
</ion-view>
