<ion-view view-title="Welcome, @vichudo">
  <ion-content >



<div style="
    text-align: center;
    margin-top: 50px;
    font-family: LatoL !important;
    letter-spacing: 1px !important;
">
    
        <p style="
    font-size: 35px;margin-bottom: 15px;
">Account</p>

<!-- <p class="btnSett2">Your current payment method</p>

<img src="img/paypal.png" style="height:100px;margin-top: 40px;"> -->

<div style="width: 100%;
    height: 40px;margin-top:60px">
		<div style="display:inline-box; float:right;margin-right:20px">Subscription</div>
		<div style="display:inline-box;float:left; margin-left:20px">FREER / TRAIL </div>

</div>

<div ng-click="loadProducts()" style="width: 100%;
    height: 40px;margin-top:20px">
		<div style="display:inline-box; float:left;margin-left:20px">Get Premium</div>
		<div style="display:inline-box;float:right; margin-right:20px"><i class="ion-chevron-right"></i> </div>

</div>



<div style="width: 100%;margin-top:35px; padding:20px">
	<div style="text-align:center">What is Premium?</div>
	<div>With inflowencer Premium you'll have full access to the app, that includes unlimited seach and requests, premium support, and more. Get premium </div>
</div>



</div>

  </ion-content>
</ion-view>
