<ion-view view-title="Welcome, @{{userData.username}}">
  <ion-content >



<div style="
    text-align: center;
    margin-top: 50px;
    font-family: LatoL !important;
    letter-spacing: 1px !important;
">
    
        <p style="
    font-size: 35px;margin-bottom: 15px;line-height: 30px;
">Personal information</p>

<p class="btnSett">@{{userData.username}}</p>

<div style="
    margin-top: 35px;
">
<span style="
    font-size: 20px;
    color: #0090b4;
    margin-top: 25px;
    display: inline-block;
">Your email:</span> <span style="
    font-size: 20px;
    margin-top: 25px;
    display: inline-block;
">vichudo@gmail.com</span><br>
<span style="
    font-size: 20px;
    margin-top: 25px;
    display: inline-block;
    color: #0090b4;
">Phone number:</span> <span style="
    font-size: 20px;
">+555 5673 2356</span><br>
<span style="
    font-size: 20px;
    color: #0090b4;
    margin-top: 25px;
    display: inline-block;
">Shipping adress:</span> <span style="
    font-size: 20px;
">Not available</span><br>
</div>


<button style="    height: 57px;
    width: 129px;
    font-family: LatoL;
    color: white;
    background-color: #0090b4;
    font-size: 20px;
    margin-top: 64px;">edit info</button>
</div>

  </ion-content>
</ion-view>
