<ion-view view-title="Welcome, @{{userData.username}}">
  <ion-content style='background-color: #5666b8'>


<div style="
    text-align: center;
    color: white;
    margin-top: 41px;
    letter-spacing: 2px;
">
<div style="
    font-size: 30px;
    width:  100%;
">REQUEST</div>
<div style="
    font-size: 26px;
    margin-top: 19px;
    font-style:  italic;
">by <span  ng-click='goPerfil(request.idStore)' style="text-decoration:underline">@{{request.usernameStore}}</span></div>
</div>

<div style="  width: 84%;
    margin-left: 8%;
    height: 165px;
    resize: none;
    border-radius: 5px;
    margin-top: 20px;
    background-color: white;
    color: #444;    padding: 12px;">
  
{{request.mensaje}}
</div>



  <div>
      <div style="   display: inline-block;
    height: 42px;
    width: 35%;
    color: white;
    text-align: center;
    font-size: 26px;
    font-family: Lato2;
    font-weight: bold;
    line-height: 43px;
    margin-left: 15%;">offer</div>


      <div style="   display: inline-block;
    height: 42px;
    width: 35%;
    color: white;
        font-family:Lato2 !important;
    float: right;
    font-weight: bold;
    text-align: center;
    font-size: 15px;
   
    line-height: 55px;
    margin-right: 15%;">duration of post</div>

  </div>



  <div>
      <div style="    display: inline-block;
    height: 59px;
    width: 35%;
    background-color: #00b11d;
    color: white;
    text-align: center;
    font-size: 28px;
    font-family: Lato2;
    line-height: 55px;
    font-weight: bold;
    margin-left: 15%;">${{request.precio}}</div>


      <div style="     display: inline-block;
    height: 59px;
    width: 35%;
    background-color: #ff9000;
    color: white;
    text-align: center;
    font-size: 28px;
    font-family: Lato2;
    line-height: 55px;
    margin-right: 15%;
    float: right;">{{request.duracionPost}} hours</div>

  </div>






<div ng-if='request.estado == 0 && request.idInfluencer==userData.instagramId' style="margin-top:40px;">
      
      <div style="
    display: inline-block;
    height: 41px;
    width: 41%;
    background-color: #00517f;
    color: white;
    text-align: center;
    font-size: 28px;
    font-family: Lato2;
    line-height: 38px;
    font-weight: bold;
    margin-left: 9%;
    " ng-click='aceptarP(request.idRequest)'>accept</div>


      <div style="
    display: inline-block;
    height: 41px;
    width: 41%;
    background-color: #ff5f5f;
    color: white;
    text-align: center;
    font-size: 28px;
    font-family: Lato2;
    line-height: 38px;
    margin-right: 9%;
    float: right;
    " ng-click='rechazarP(request.idRequest)' >reject</div>

  </div>
<div ng-if='request.estado>=0' style="    text-align: center;
    color: white;
    margin-top: 25px;
    font-size: 18px;
    font-family: Lato2;
    font-weight: 800;">
<span style="padding-left: 10px;
   ">

   {{request.estado==0 ? 'Waiting for approval...' : request.estado == 1 ? 'Approved' : request.estado == 2 ? 'Rejected' : request.estado == 3 ? 'Completed' : 'Unknown'}}


   </span>
<br>

       <button  ng-if='request.estado==0 && request.idStore == userData.instagramId' style="padding: 7px 30px;
    border: none !important;
    margin-top: 18px;
    background-color: #ff5f5f;
    color: white;
    font-family: LatoL;
    font-weight: 800;
    border-radius: 2px;" ng-click='borrarReq(request.idRequest)'>Cancel request</button>


       <button  ng-if='request.estado==1 && request.idStore == userData.instagramId'  style="padding: 7px 30px;
    border: none !important;
    margin-top: 18px;
    background-color: #007eff;
    color: white;
    font-family: LatoL;
    font-weight: 800;
    border-radius: 2px;" ng-click='marcarCompletado(request.idRequest)'>Mark as completed</button>


</div>

  </ion-content>
</ion-view>
