<ion-view view-title="Welcome, @vichudo">
  <ion-content class="padding" style='background-color: white ;font-family: Lato;
            letter-spacing: 1px;'>



      <div style="    background-color: #5666b8;
    margin-top: 24px;
    margin-left: 13px;
    margin-right: 13px;
        padding-bottom: 24px;">
        <div class="tituloHome">Top stores/sellers - This week</div>

        <div>

            <div class="iList">
                <span style="
                   display: inline-block;
    font-size: 16px;
    vertical-align: -webkit-baseline-middle;
                ">1.</span>
                <img src="img/user.png" style="
                 
                display: inline-block;
                height: 50px;
                vertical-align: middle;
                border-radius: 55px;
                    margin-left: 12px;
    margin-right: 12px;
                ">
                <div style="
                display: inline-block;
                vertical-align: middle;
                text-align: left;
                    min-width: 155px;
                ">
                      <span style="
                      display: block;
                          font-size: 16px;
                              text-decoration: underline;
                      ">@dronestorechile</span>
                      <span style="
                      display: block;
                          font-size: 13px;
                      ">deals: 20</span>
                      <span style="
                      display: block;
                          font-size: 13px;
                      ">new followers: 3224</span>
                </div>
            </div>


            <div class="iList">
                <span style="
                   display: inline-block;
    font-size: 16px;
    vertical-align: -webkit-baseline-middle;
                ">2.</span>
                <img src="img/mike.png" style="
                    border: solid 2px white;
                display: inline-block;
                height: 50px;
                vertical-align: middle;
                border-radius: 55px;
                    margin-left: 12px;
    margin-right: 12px;
                ">
                <div style="
                display: inline-block;
                vertical-align: middle;
                text-align: left;
                    min-width: 155px;
                ">
                      <span style="
                      display: block;
                          font-size: 16px;
                              text-decoration: underline;
                      ">@casechile</span>
                      <span style="
                      display: block;
                          font-size: 13px;
                      ">deals: 15</span>
                      <span style="
                      display: block;
                          font-size: 13px;
                      ">new followers: 1224</span>
                </div>
            </div>

                <div class="iList">
                <span style="
                   display: inline-block;
    font-size: 16px;
    vertical-align: -webkit-baseline-middle;
                ">3.</span>
                <img src="img/max.png" style="
                    border: solid 2px white;
                display: inline-block;
                height: 50px;
                vertical-align: middle;
                border-radius: 55px;
                    margin-left: 12px;
    margin-right: 12px;
                ">
                <div style="
                display: inline-block;
                vertical-align: middle;
                text-align: left;
                    min-width: 155px;
                ">
                      <span style="
                      display: block;
                          font-size: 16px;
                              text-decoration: underline;
                      ">@elevenstorecl</span>
                      <span style="
                      display: block;
                          font-size: 13px;
                      ">deals: 3</span>
                      <span style="
                      display: block;
                          font-size: 13px;
                      ">new followers: 724</span>
                </div>
            </div>


    <div class="iList">
                <span style="
                   display: inline-block;
    font-size: 16px;
    vertical-align: -webkit-baseline-middle;
                ">4.</span>
                <img src="img/ben.png" style="
                    border: solid 2px white;
                display: inline-block;
                height: 50px;
                vertical-align: middle;
                border-radius: 55px;
                    margin-left: 12px;
    margin-right: 12px;
                ">
                <div style="
                display: inline-block;
                vertical-align: middle;
                text-align: left;
                    min-width: 155px;
                ">
                      <span style="
                      display: block;
                          font-size: 16px;
                              text-decoration: underline;
                      ">@sspace.sstore</span>
                      <span style="
                      display: block;
                          font-size: 13px;
                      ">deals: 3</span>
                      <span style="
                      display: block;
                          font-size: 13px;
                      ">new followers: 704</span>
                </div>
            </div>




                        <div class="iList">
                <span style="
                   display: inline-block;
    font-size: 16px;
    vertical-align: -webkit-baseline-middle;
                ">5.</span>
                <img src="img/perry.png" style="
                    border: solid 2px white;
                display: inline-block;
                height: 50px;
                vertical-align: middle;
                border-radius: 55px;
                    margin-left: 12px;
    margin-right: 12px;
                ">
                <div style="
                display: inline-block;
                vertical-align: middle;
                text-align: left;
                    min-width: 155px;
                ">
                      <span style="
                      display: block;
                          font-size: 16px;
                              text-decoration: underline;
                      ">@elevensneakerscl</span>
                      <span style="
                      display: block;
                          font-size: 13px;
                      ">deals: 3</span>
                      <span style="
                      display: block;
                          font-size: 13px;
                      ">new followers: 324</span>
                </div>
            </div>

        </div>

      </div>


      <div style="    background-color: #5666b8;
    margin-top: 24px;
    margin-left: 13px;
    margin-right: 13px;
        padding-bottom: 24px;">
        <div class="tituloHome">New stores - This week</div>

        <div>

            <div class="iList">
                
                <img src="img/user.png" style="
                 
                display: inline-block;
                height: 50px;
                vertical-align: middle;
                border-radius: 55px;
                    margin-left: 12px;
    margin-right: 12px;
                ">
                <div style="
                display: inline-block;
                vertical-align: middle;
                text-align: left;
                    min-width: 155px;
                ">
                      <span style="
                      display: block;
                          font-size: 16px;
                              text-decoration: underline;
                      ">@catalogtorechile</span>
                      <span style="
                      display: block;
                          font-size: 13px;
                      ">deals: 0</span>
                      <span style="
                      display: block;
                          font-size: 13px;
                      ">new followers: 34</span>
                </div>
            </div>




                        <div class="iList">
                
                <img src="img/user.png" style="
                 
                display: inline-block;
                height: 50px;
                vertical-align: middle;
                border-radius: 55px;
                    margin-left: 12px;
    margin-right: 12px;
                ">
                <div style="
                display: inline-block;
                vertical-align: middle;
                text-align: left;
                    min-width: 155px;
                ">
                      <span style="
                      display: block;
                          font-size: 16px;
                              text-decoration: underline;
                      ">@likesneakerscl</span>
                      <span style="
                      display: block;
                          font-size: 13px;
                      ">deals: 3</span>
                      <span style="
                      display: block;
                          font-size: 13px;
                      ">new followers: 14</span>
                </div>
            </div>

        </div>

      </div>





  </ion-content>
</ion-view>
