<ion-view view-title="Welcome, @{{userData.username}}">
  <ion-content class="padding" style='background-color: white ;font-family: Lato;
            letter-spacing: 1px;'>



      <div style="    background-color: #5666b8;
    margin-top: 24px;
    margin-left: 13px;
    margin-right: 13px;
        padding-bottom: 24px;">
        <div class="tituloHome">Top Influencers - This week</div>



<div ng-if='userData.tipoCuenta==1 && influencerRank' style="
    text-align:  center;
    color:  white;
    font-family:  Lato;
    letter-spacing:  6px;
    font-size: 15px;
    line-height: 25px;
">MY POSITION<br> <span style="
    font-size: 27px;
    font-weight:  800;
">{{influencerRank}}</span></div>




        <div>

            <div class="iList" ng-repeat='i in listaInfluencers' ng-click='goPerfil(i.instagramId)'>
                <span style="
                   display: inline-block;
    font-size: 16px;
    vertical-align: -webkit-baseline-middle;
                ">{{$index + 1}}.</span>
                <img ng-src="{{i.imagen}}" style="
                 
                display: inline-block;
                height: 50px;
                vertical-align: middle;
                border-radius: 55px;
                    margin-left: 12px;
    margin-right: 12px;
                ">
                <div style="
                display: inline-block;
                vertical-align: middle;
                text-align: left;
                    min-width: 155px;
                ">
                      <span style="
                      display: block;
                          font-size: 16px;
                              text-decoration: underline;
                      ">@{{i.username}}</span>
                      <span style="
                      display: block;
                          font-size: 13px;
                      ">deals: {{i.deals || 0}}</span>
              
                </div>
            </div>



        </div>
<div style="width:100%;text-align:center">
        <button style='padding: 11px 44px;
    background-color: #ffc800;
    font-size: 18px;
    letter-spacing: 1px;
    font-family: Lato;
    color: white;
    border: none !important;
    border-radius: 2px;
    margin-top: 40px;' ui-sref='tab.chats'>See all influencers</button>
</div>




      </div>


      <div style="    background-color: #5666b8;
    margin-top: 24px;
    margin-left: 13px;
    margin-right: 13px;
        padding-bottom: 24px;">
        <div class="tituloHome">Top stores/sellers</div>



<div ng-if='userData.tipoCuenta==2 && storeRank' style="
    text-align:  center;
    color:  white;
    font-family:  Lato;
    letter-spacing:  6px;
    font-size: 15px;
    line-height: 25px;
">MY POSITION<br> <span style="
    font-size: 27px;
    font-weight:  800;
">{{storeRank}}</span></div>



        <div>

            <div class="iList" ng-repeat='i in listaStores'  ng-click='goPerfil(i.instagramId)'>
                <span style="
                   display: inline-block;
    font-size: 16px;
    vertical-align: -webkit-baseline-middle;
                ">{{$index + 1}}.</span>
                <img ng-src="{{i.imagen}}" style="
                 
                display: inline-block;
                height: 50px;
                vertical-align: middle;
                border-radius: 55px;
                    margin-left: 12px;
    margin-right: 12px;
                ">
                <div style="
                display: inline-block;
                vertical-align: middle;
                text-align: left;
                    min-width: 155px;
                ">
                      <span style="
                      display: block;
                          font-size: 16px;
                              text-decoration: underline;
                      ">@{{i.username}}</span>
                      <span style="
                      display: block;
                          font-size: 13px;
                      ">category: </span>

                                       <span style="
                      display: inline-block;
                          font-size: 13px;
                      "><span ng-if='i.opcion11' class='etiquetaTop'>{{getCategorias(i.opcion11)}}</span><span ng-if='i.opcion12' class='etiquetaTop'  >{{getCategorias(i.opcion12)}}</span></span>
              
                </div>
            </div>



        </div>



      </div>




  </ion-content>
</ion-view>
