<ion-view view-title="Welcome, @vichudo">
  <ion-content  style="font-family:Lato">


<!--     <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list> -->
<p style="margin-top:40px;text-align:center; letter-spacing:1px; font-size:16px">search for stores / categories</p>

<div style="text-align:center"><input style="    width: 70%;
    border-bottom: solid 3px #00517f !important;
    border: none;
    border-radius: 2px;
    font-size: 26px;
    font-family: Lato2;" type="" placeholder="@user" name=""></div>


    <div class="userResult">
        <img src="img/userblu.png"><span>importachile</span>

    </div>


 <div class="userResult">
        <img src="img/userblu.png"><span>imperio_zapatos</span>

    </div>


  </ion-content>
</ion-view>
