<ion-view view-title="Welcome, @{{userData.username}}">
  <ion-content class="padding" style='background-color: white ;font-family: Lato;
            letter-spacing: 1px;'>



      <div style="    background-color: #5666b8;
    margin-top: 24px;
    margin-left: 13px;
    margin-right: 13px;
        padding-bottom: 24px;">
        <div class="tituloHome">Top Influencers - This week</div>

        <div>

            <div class="iList" ng-repeat='i in listaInfluencers' >
                <span style="
                   display: inline-block;
    font-size: 16px;
    vertical-align: -webkit-baseline-middle;
                ">{{$index + 1}}.</span>
                <img ng-src="{{i.imagen}}" style="
                 
                display: inline-block;
                height: 50px;
                vertical-align: middle;
                border-radius: 55px;
                    margin-left: 12px;
    margin-right: 12px;
                ">
                <div style="
                display: inline-block;
                vertical-align: middle;
                text-align: left;
                    min-width: 155px;
                ">
                      <span style="
                      display: block;
                          font-size: 16px;
                              text-decoration: underline;
                      ">@{{i.username}}</span>
                      <span style="
                      display: block;
                          font-size: 13px;
                      ">deals: {{i.deals || 0}}</span>
                      <span style="
                      display: block;
                          font-size: 13px;
                      ">new followers: {{i.followers || 0}}</span>
                </div>
            </div>



        </div>

      </div>


      <div style="    background-color: #5666b8;
    margin-top: 24px;
    margin-left: 13px;
    margin-right: 13px;
        padding-bottom: 24px;text-align: center;">
        <div class="tituloHome">Top stores/sellers - This week</div>

        <div>

            <div class="iList" ng-repeat='s in listaStores'> 
                <img ng-src="{{s.imagen}}" style="
                 
                display: inline-block;
                height: 50px;
                vertical-align: middle;
                border-radius: 55px;
                    margin-left: 12px;
    margin-right: 12px;
                ">
                <div style="
                display: inline-block;
                vertical-align: middle;
                text-align: left;
                    min-width: 155px;
                ">
                      <span style="
                      display: block;
                          font-size: 16px;
                              text-decoration: underline;    margin-bottom: 5px;
                      ">@{{s.username}}</span>
                      <span style="
                      display: block;
                          font-size: 13px;
                      ">category: <span class='etiquetaTop'>clothes</span><span class='etiquetaTop'  >girls</span></span>
                   
                </div>
            </div>

        </div>


<button style='padding: 11px 44px;
    background-color: #ffc800;
    font-size: 18px;
    letter-spacing: 1px;
    font-family: Lato;
    color: white;
    border: none !important;
    border-radius: 2px;
    margin-top: 40px;' ui-sref='tab.chats'>See all stores</button>
      </div>





  </ion-content>
</ion-view>
