
<ion-view view-title="Welcome, @{{userData.username}}">
  <ion-content  style="font-family:Lato">
<div ng-if='cargaTerminada  '>

<div ng-if="!suscripcion" style="
    text-align:  center;
    padding: 15%;
    color:  darkgray;
    font-family: Lato;
    letter-spacing:  1px;
    margin-top: 10%;
">
    
    <span style="
    display: block;
    font-size:  23px;
">Do you want to search?</span>
    <span style="
    font-size: 17px;
    margin-top: 20px;
    display:  block;
    text-align: center;
">The search option is only available for premium users</span>
    <button style="
    margin-top: 25px;
    font-family:  Lato;
    background-color:  #0090b4 !important;
    color:  white;
    border:  none !important;
    padding: 10px 35px;
    font-size:  14px;
" ng-click='goPremium()'>Get Premium</button>
</div>



<div ng-if='suscripcion'>

<!--     <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list> --> 
<p style="margin-top:40px;text-align:center; letter-spacing:1px; font-size:16px">search for influencer</p>

<div style="text-align:center">

    <input style="    width: 70%;
    border-bottom: solid 3px #00517f !important;
    border: none;
    border-radius: 2px;
    font-size: 26px;
    font-family: Lato2;
    margin-left: 15%;" type="text" placeholder="@user" ng-model="buscador.palabra" ng-change='buscarPalabra(buscador.palabra)'>



        <button style='    padding: 3px 44px;
    background-color: #ffc800;
    font-size: 18px;
    letter-spacing: 1px;
    font-family: Lato;
    color: white;
    border: none !important;
    margin-top: 15px;
    border-radius: 3px;' ng-click='listarTodos()'>See all influencers</button>




    </div>

<!--     <div class="selectBuscar">
    <ion-list >
        <ion-checkbox ng-model="filtro.option1">Only influencers</ion-checkbox>
    </ion-list>
    </div>
 -->

  <div  style='    color: #444;
    text-align: center;
    width: 100%;
    letter-spacing: 2px;
    margin-top: 40px;
    opacity: 0.4;' ng-if='resultados.length == 0 ' >

There are no results in the search . . .

    </div>


    <div class="userResult" ng-repeat='r in resultados' ng-click='goPerfil(r.instagramId, r.tipoCuenta)'>
        <img ng-src="{{r.imagen}}"><span>{{r.username}}</span>

    </div>
    </div>

</div>

  </ion-content>
</ion-view>
