
<ion-view view-title="Welcome, @{{userData.username}}">
  <ion-content  style="font-family:Lato">


<!--     <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list> --> 
<p style="margin-top:40px;text-align:center; letter-spacing:1px; font-size:16px">search for influencer / stores</p>

<div style="text-align:center">

    <input style="    width: 70%;
    border-bottom: solid 3px #00517f !important;
    border: none;
    border-radius: 2px;
    font-size: 26px;
    font-family: Lato2;
    margin-left: 15%;" type="text" placeholder="@user" ng-model="buscador.palabra" ng-change='buscarPalabra(buscador.palabra)'>

    </div>



  <div  style='    color: #444;
    text-align: center;
    width: 100%;
    letter-spacing: 2px;
    margin-top: 40px;
    opacity: 0.4;' ng-if='resultados.length == 0 ' >
No hay resultados . . .

    </div>


    <div class="userResult" ng-repeat='r in resultados' ng-click='goPerfil(r.instagramId, r.tipoCuenta)'>
        <img ng-src="{{r.imagen}}"><span>{{r.username}}</span>

    </div>



  </ion-content>
</ion-view>
