

<style type="text/css">
    
    .item-checkbox {
    background-color: #dfe2e5 ;
      color:  #0090b4;
}
.modalDesignHeader{
      background-color: #0090b4 ;

      color: white !important;
}

.modalDesignHeader h1{
      color: white !important;
}
.modalDesign{

    background-color: #dfe2e5 ;

}


</style>


<ion-view view-title="Welcome, @{{userData.username}}">


  <ion-content class='ttss' style="background-size: cover;background-color:#5666b8" >

  <div ng-if='dataUser'>
<!-- 
<img src="img/logoLogin.png" style="    width: 80%;
    margin-left: 10%;
    margin-top: 18%;
    z-index: 44;
    position: absolute;">


<img src="img/cc3.png" style="    height: 80px;
    width: 100%;
    left: 0px;

    margin-top: calc(18% - 15px);
    z-index: 30;
    opacity: 0.8;">
 -->

 <button  ng-if='!editar'  style='position: absolute;
    right: 10px;
    top: -9px;
    font-size: 18px;
    opacity: 0.5;' ng-click='editarPerfil()'  class="dbn"> <i class="icon ion-edit"></i></button>


 <button  ng-if='editar' style='    position: absolute;
    right: 10px;
    top: -9px;
    font-size: 20px;
    opacity: 1;
    border-width: 3px;' ng-click='guardarPerfil()'  class="dbn"> <i class="icon ion-android-done-all"></i></button>


<p style="text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    color: white;
    font-family: LatoL;
    letter-spacing: 2px;
    font-size: 21px;
    margin-top: 20px;">@{{dataUser.username}} <br> ({{dataUser.tipoCuenta == 1 ? 'influencer' : 'store'}})</p>

<div style="
  margin-top: 35px;

    width: 100%;
    text-align: center;
    font-family: LatoL;
    font-size: 30px;
    letter-spacing: 2px;
    color: white;
">


<div style="
    display: inline-block;
    font-size: 16px;
    letter-spacing: 1px;
    height: 96px;
    vertical-align: text-bottom;
        line-height: 34px;
            width: 30%;
    ">Deals <br> <span style="    font-size: 36px;
    letter-spacing: 3px;">{{dataUser.tipoCuenta == 1 ? (dataUser.dealsInfluencer || 0) : dataUser.tipoCuenta == 2 ? (dataUser.dealsStore || 0) : 0}}</span></div>
<img style="

        height: 96px;
    width: 96px;
    border-radius: 100%;
    border: solid 3px white;
    vertical-align: inherit;
    " ng-src="{{dataUser.imagen}}">

<div style="
        display: inline-block;
    font-size: 16px;
    letter-spacing: 1px;
    height: 96px;
    vertical-align: text-bottom;
    line-height: 34px;
        width: 30%;
    ">Followers <br> <span style="font-size:36px">{{dataUser.followers}}<span></span></span></div>

</div>


    
 <div ng-if='!editar'  style="
    text-align: center;
    width: 100%;
    padding: 30px;
">
        <div style="
    color: white;
    font-size: 28px;
    font-family: LatoL;
    letter-spacing: 2px;
    margin-bottom: 10px;
    line-height: 29px;
">@ {{dataUser.username}} - {{dataUser.tipoCuenta == 1 ? 'influencer' : 'store'}}</div>
        



        <div style="
    width: 100%;
    resize: none;
    display: flex;
    height: 107px;
    background-color: transparent;
    border: solid 4px white;
    font-family: LatoL;
    letter-spacing: 2px;
    padding: 7px;
    font-size: 17px;
    margin-left: auto;
    margin-right: auto;
        max-width: 475px;
            color: white;
">{{dataUser.bioApp || "Info about user . . . "}}</div>

<div class='ddssd' style="height: 77px;" ><span style="width: 100%;display: block;margin-bottom: 6px;">I would like to publish...</span>
    
    <div class="vineta" ng-if='dataUser.opcion11'>{{getCategorias(dataUser.opcion11)}}</div>
    <div class="vineta" ng-if='dataUser.opcion12'>{{getCategorias(dataUser.opcion12)}}</div>




</div>

<div class='ddssd' style="height: 77px;" ><span style="width: 100%;display: block;margin-bottom: 6px;">My audience are mostly ... </span>
    
 <div class="vineta" ng-if='dataUser.opcion21'>{{getCategorias2(dataUser.opcion21)}}</div>
    <div class="vineta" ng-if='dataUser.opcion22'>{{getCategorias2(dataUser.opcion22)}}</div>



</div>


    </div>

 <div ng-if='editar' style="
    text-align: center;
    width: 100%;
    padding: 30px;
">




        <div style="
    color: white;
    font-size: 28px;
    font-family: LatoL;
    letter-spacing: 2px;
    margin-bottom: 10px;
    line-height: 29px;
">@ {{dataUser.username}} - {{dataUser.tipoCuenta == 1 ? 'influencer' : 'store'}}</div>



        <textarea ng-model='usuario.bio' placeholder="I'm interested in..." style="
    width: 100%;
    resize: none;
    display: flex;
    height: 107px;
    background-color: transparent;
    border: solid 4px white;
    font-family: LatoL;
    letter-spacing: 2px;
    padding: 7px;
        color: white;
    font-size: 17px;
    margin-left: auto;
    margin-right: auto;
        max-width: 475px;
"></textarea>


<div class='ddssd' >
<span class="spanRegister">
{{tipoProfile == 1 ? 'I would like to publish...' : 'I search people to publish for...'}} 
</span>

<button  class="btnAddCategoria button button-icon icon ion-ios-plus-empty" modal-select="" ng-model="someModelMultiple" modal-class="modalDesign" header-footer-class='modalDesignHeader' options="selectables" multiple="true"  modal-title="Select 2 tags"  on-select="seleccionado(newValue, oldValue)" >
  <div class="option" >
    {{option.nombre}}
  </div>
</button>

    <div class="vineta" ng-if='usuario.opcion11'>{{getCategorias(usuario.opcion11)}}</div>
    <div class="vineta" ng-if='usuario.opcion12'>{{getCategorias(usuario.opcion12)}}</div>


</div>


<div class='ddssd'>
<span class="spanRegister">
{{tipoProfile == 1 ? 'My audience is...' : 'My target audience...'}}
</span>



<button  class="btnAddCategoria button button-icon icon ion-ios-plus-empty" modal-select="" ng-model="someModelMultiple2" modal-class="modalDesign" header-footer-class='modalDesignHeader' options="selectables2" multiple="true"  modal-title="Select 2 tags"  on-select="seleccionado2(newValue, oldValue)" >
  <div class="option" >
    {{option.nombre}}
  </div>
</button>
<div class="vineta" ng-if='usuario.opcion21'>{{getCategorias2(usuario.opcion21)}}</div>
    <div class="vineta" ng-if='usuario.opcion22'>{{getCategorias2(usuario.opcion22)}}</div>



<!--     <select ng-model='usuario.opcion21'>
        <option value='1'>mostly girls</option>
        <option value='2'>mostly guys</option>
        <option value='3'>young people</option>
        <option value='4'>adults</option>
        <option value='5'>kids</option>
        <option value='6'>old people</option>
        <option value='7'>various</option>
    </select>

    <select ng-model='usuario.opcion22'>
       <option value='1'>mostly girls</option>
        <option value='2'>mostly guys</option>
        <option value='3'>young people</option>
        <option value='4'>adults</option>
        <option value='5'>kids</option>
        <option value='6'>old people</option>
        <option value='7'>various</option>
    </select>
 -->

</div>

    </div>




</div>

    </ion-content>


</ion-view>
