<ion-view view-title="Welcome, @vichudo">
  <ion-content>



<div style="
    text-align: center;
    margin-top: 50px;
    font-family: LatoL !important;
    letter-spacing: 1px !important;
">
   	
   		<p style="
    font-size: 35px;margin-bottom: 15px;
">Settings</p>

   		<button class="btnSett" ui-sref='tab.paymentMethod'	>Account</button>
<!--    		<button class="btnSett" ui-sref='tab.personal'>Personal Information</button> -->
   		<button class="btnSett"  ui-sref='tab.history'>History</button>

   		<button class="btnSett" ui-sref='tab.notis'>Notifications</button>
   		<button class="btnSett" ng-click='cerrarSesion()'  >Logout</button>
   </div>


  </ion-content>
</ion-view>
