

<ion-view view-title="Welcome, @{{userData.username}}">


  <ion-content class="padding" style='padding: 12px !important;background-color: white ;font-family: Lato;
            letter-spacing: 1px; color: white'>


              <ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="doRefresh()">
  </ion-refresher>

  
   
  <div ng-repeat='r in requests' ui-sref="tab.requestInfl({idRequest: r.idRequest})"  class='notiBtn'    ng-class="{ 'colorStore': userData.instagramId == r.idStore, 'colorInflu': userData.instagramId == r.idInfluencer }"  >
    

       <p ng-if='userData.instagramId == r.idStore' style="    font-size: 25px;
    display: inline-block;
    padding-left: 10px;
    overflow: hidden !important;
    letter-spacing: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;">@{{r.usernameInfluencer}} <span style="letter-spacing: 1px !important;font-size: 16px;
    "> by @{{r.usernameStore}}</span></p>


           <p ng-if='userData.instagramId == r.idInfluencer' style="    font-size: 25px;
    display: inline-block;
    padding-left: 10px;
    overflow: hidden !important;
    letter-spacing: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;">Request <span style="letter-spacing: 1px !important;font-size: 16px;
    "> by @{{r.usernameStore}}</span></p>



    <span ng-if='userData.instagramId == r.idStore' style="padding-left: 10px;
    opacity: 0.5;">as store - {{r.estado==0 ? 'Waiting for approval...' : r.estado == 1 ? 'Approved' : 'Rejected'}}</span>

    <span ng-if='userData.instagramId == r.idInfluencer' style="padding-left: 10px;
    opacity: 0.5;">as influencer - {{r.estado==0 ? 'Waiting for approval...' : r.estado == 1 ? 'Approved' : 'Rejected'}}</span>


  </div>
   <div  style='    color: #444;
    text-align: center;
    width: 100%;
    letter-spacing: 2px;
    margin-top: 40px;
    opacity: 0.4;' ng-if='requests.length == 0 || !requests' >
There are no requests yet . . .

    </div>
<!-- 

  <div ui-sref='tab.request' class='notiBtn' style="  background: #ff5f5f;">
    
    <p style="    font-size: 25px;
    display: inline-block;
    padding-left: 10px;
    overflow: hidden !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;"> New Request <span style="font-size: 16px;
    "> by @agatha_accountcl</span></p>

  </div>



  <div ui-sref='tab.request' class='notiBtn' style="  background: #5666b8;">
    
    

       <p style="    font-size: 25px;
    display: inline-block;
    padding-left: 10px;
    overflow: hidden !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;"> New Request <span style="font-size: 16px;
    "> by @elevenstcl</span></p>



  </div>
 -->


  </ion-content>
</ion-view>
